<div class="testing">
	<div class="wrapper ">
    <%= render 'partials/sidebar', report: false, worker: false, bank: false, rate: true %>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper"></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- your content here -->
          <div class="titleDashContent">
            <h2>Tasa<br>
            <div class="line"></div></h2>
          </div>
          <div class="Dashcontent">
            <%= form_with(model: @rate, local: true) do |form| %>
              <% if @rate.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@rate.errors.count, "error") %> Se ha prohibido la creación de la tasa por:</h2>
                  <ul>
                    <% @rate.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="input-field col s12 l6">
                  <p>País</p>
                  <%= form.text_field :country, id: 'first_name', class: 'validate' %>
                </div>
                <div class="input-field col s12 l6">
                  <p>Valor</p>
                  <%= form.text_field :value, id: 'first_name', class: 'validate' %>
                </div>
              </div>
              <div class="input-field col s12">
                <%= link_to 'VOLVER', rates_path, class: "waves-effect waves-light btn btn-theme" %>
                <%= form.submit 'CREAR', class: "waves-effect waves-light btn btn-theme" %>
              </div>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>